name: Github Actsion Demo
on: 
  push:
    branches: [main]
    paths-ignore: [.github/**]
  pull_request:
    branches: [main]
  schedule:
    - cron: '15 6 * * 0'
  workflow_dispatch:

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "triggered by ${{ github.event_name }}"
          echo "branch is ${{ github.ref }}"
      - uses: actions/checkout@latest

      - name: Files in repo
        run: |
          echo "repo ${{ github.event_name }}:"
          tree
      
      

    
  
    

  
